{
  "CompileFlags": {
    "Add": [
      "-std=c++23",
      "-Wall",
      "-Wextra",
      "-Wpedantic"
    ]
  },
  "CompilationDatabase": "build",
  "Index": {
    "Background": "Build"
  },
  "Completion": {
    "AllScopes": true
  },
  "InlayHints": {
    "Enabled": true
  }
}
